<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Léxico</title>
    <style>
        body {
            background-color: #57ffa6; /* Fondo azul celeste */
            text-align: center; /* Centrado */
        }
        form {
            margin-top: 50px; /* Margen superior */
        }
        textarea {
            margin-bottom: 20px; /* Margen inferior */
        }
    </style>
</head>
<body>
    <h1>Analizador Léxico</h1>
    <form action="/" method="post">
        <textarea name="codigo" rows="10" cols="50"></textarea><br>
        <input type="submit" value="Analizar">
    </form>
</body>
</html>
